@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #4A90E2;
    --secondary-color: #357ABD;
    --text-color: #343a40;
    --error-color: #dc3545;
    --error-hover-color: #c82333;
}

.nav-bar {
    background-color: var(--text-color); /* Barra de navegação escura */
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 15px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.1s;
    font-weight: 500;
}

.nav-bar a:hover {
    background-color: var(--secondary-color);
    transform: translateY(-2px);
}

.logout-button {
    background-color: var(--error-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: var(--error-hover-color);
}
